<div class="cash-screen">


<div class="page-header">


<div>

<h2>
Control de Caja
</h2>


<p>
Ingresos, egresos y cierres diarios
</p>


</div>


<button class="btn btn-danger">

Cerrar Caja

</button>


</div>





<div class="grid-cards">


<div class="dashboard-card">

<h3>
Efectivo Disponible
</h3>

<strong id="saldoCaja">

$0.00

</strong>


</div>



<div class="dashboard-card">

<h3>
Ventas Hoy
</h3>

<strong id="ventasCaja">

0

</strong>


</div>


</div>





<div class="panel">


<h3>
Movimientos

</h3>


<table>


<thead>

<tr>

<th>
Fecha
</th>

<th>
Concepto
</th>

<th>
Monto
</th>


</tr>


</thead>


<tbody id="tablaCaja">


</tbody>


</table>


</div>


</div>