<div class="clients-screen">


<div class="page-header">


<div>

<h2>
Gestión de Clientes
</h2>


<p>
Registro e historial de compradores
</p>


</div>



<button class="btn btn-primary"
onclick="nuevoCliente()">

+ Nuevo Cliente

</button>


</div>





<div class="panel">


<div class="toolbar">


<input 
id="buscarCliente"
placeholder="Buscar cliente..."
>


</div>





<table>


<thead>

<tr>

<th>
Documento
</th>

<th>
Nombre
</th>

<th>
Teléfono
</th>

<th>
Correo
</th>

<th>
Compras
</th>

<th>
Acciones
</th>


</tr>


</thead>



<tbody id="tablaClientes">


</tbody>



</table>


</div>



</div>