<div class="products-screen">


<div class="page-header">


<div>

<h2>
Gestión de Productos
</h2>


<p>
Catálogo, precios e inventario
</p>


</div>



<button class="btn btn-primary"
onclick="nuevoProducto()">

+ Nuevo Producto

</button>


</div>





<div class="panel">


<div class="toolbar">


<input 
id="buscarProductos"
placeholder="Buscar producto..."
>



<select id="filtroCategoria">

<option>
Todas las categorías
</option>


</select>


</div>







<table>


<thead>

<tr>

<th>
Código
</th>

<th>
Producto
</th>

<th>
Categoría
</th>

<th>
Precio
</th>

<th>
Stock
</th>

<th>
Estado
</th>

<th>
Acciones
</th>


</tr>


</thead>



<tbody id="tablaProductos">


</tbody>



</table>



</div>



</div>